
<div class="container mx-auto my-5 d-flex flex-column border-top">
    <h2 class="pt-5">Contact</h2>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

    <div class="alert alert-secondary mx-auto w-75 d-flex flex-column justify-content-center" role="alert">
        
        <div class="modal-body">
            <form>
                <div class="row mb-3">
                    <div class="col-3 text-end">
                        <label for="recipient-name" class="col-form-label"><b>Your E-mail</b></label>
                    </div>
                    <div class="col-9">
                        <input type="text" class="form-control" id="recipient-name" placeholder="Your email">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-3 text-end">
                        <label for="message-text" class="col-form-label"><b>Your message</b></label>
                    </div>
                    <div class="col-9">
                        <textarea class="form-control" rows="5" id="message-text" placeholder="Please enter your message here..."></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>