
<div class="container mx-auto d-flex flex-column border-top">
    <h2 class="pt-5">Portafolio</h2>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
        commodo
        cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>



    <div class="row gap-5 d-flex justify-content-between ">

        <div class="card col-4" style="width: 25rem;">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                <h3 class="text-primary">Project Name</h3>
                </p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rerum! Sequi
                    mollitia
                    facere laboriosam ea, accusamus cupiditate a eveniet.</p>
            </div>
        </div>



        <div class="card col-4" style="width: 25rem;">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                <h3 class="text-primary">Project Name</h3>
                </p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rerum! Sequi
                    mollitia
                    facere laboriosam ea, accusamus cupiditate a eveniet.</p>
            </div>
        </div>



        <div class="card col-4" style="width: 25rem;">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                <h3 class="text-primary">Project Name</h3>
                </p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, rerum! Sequi
                    mollitia
                    facere laboriosam ea, accusamus cupiditate a eveniet.</p>
            </div>
        </div>

    </div>
</div>