<div class="container d-flex border-bottom py-5 mt-5">
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/BKSm149q/Keyboard.jpg" alt="Keyboard" border="0"></a>
    <div class="d-flex flex-column">
        <div class="d-flex gap-3">
            <h1>The Second Heading</h1>
            <h1 class="text-secondary">Is Pretty Cool Too.</h1>
        </div>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta f euismod semper. 
        Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>
</div>